#
# This list is used by git-shortlog to consolidate variations of the same
# committer identity into one.
#
# This done, you can run commands like `git shortlog -sne` and get the data
# properly consolidated by author.
#

Adam Ross <aross@phase2technology.com> Grayside <aross@phase2technology.com>
Adam Ross <aross@phase2technology.com> Grayside <grayside@gmail.com>
Adam Ross <aross@phase2technology.com> Adam Ross <grayside@gmail.com>
Chris Johnson <cjohnson@phase2technology.com> Chris Johnson <git@tekante.com>
Dave Murray <dmurray@phase2technology.com> David Murray <dmurray@phase2technology.com>
Frank Febbraro <frank@phase2technology.com> Frank Febbraro <frankfebbraro@gmail.com>
Tanner Heffner <theffner@phase2technology.com> tjheffner <tannerjheffner@gmail.com>
Frank Febbraro <frank@phase2technology.com> Frank Febbraro <febbraro@users.noreply.github.com>
Dan Shumaker <dshumaker@phase2technology.com> Dan Shumaker <danshumaker@users.noreply.github.com>
