##
# Operational services to run the application in your local or Outrigger Cloud environment.
#
# To ensure this works as expected for multiple environments, both environment
# settings must be carefully respected in *every* command invocation:
#
# * The `DOCKER_ENV` environment variable which is used as a template parameter for
#   how this configuration is used.
# * The -p|--project-name option for Docker Compose, which uses the provided name
#   in lieu of deriving key Docker namespacing from whatever the current directory
#   happens to be named.
#
# When bin/start.sh is used to start up services, it configures a docker-compose
# project of '<%= machineName %>_${DOCKER_ENV:-local}' and a default DOCKER_ENV of local.
# (${VARNAME:-default} is some BASH variable magic.)
#
# Warning: Multiple environments for local use require customizing the DNSDock
# Configuration. A generic approach for this has not yet been determined.
#
# @see https://docs.docker.com/compose/reference/overview/
# @see https://docs.docker.com/compose/compose-file/compose-file-v2/
##
version: '2.1'

services:
  # Database service
  db:
    container_name: <%= machineName %>_${DOCKER_ENV:-local}_db
    image: <%= db.image %>
    environment:
      MYSQL_DATABASE: <%= machineName %>_drupal
      # This is used by the nginx-proxy service which is part of Phase2's Outrigger hosting platform.
      # Outrigger Cloud as a hosting platform is still for Phase2 internal use only.
      # Add a VIRTUAL_PORT to access the service externally over port 80.
      VIRTUAL_HOST: db-${DOCKER_ENV}-<%= host.devcloud %>
    volumes:
      - /data/<%= projectName %>/${DOCKER_ENV:-local}/mysql:/var/lib/mysql
    network_mode: "bridge"
    labels:
      com.dnsdock.name: db
      com.dnsdock.image: <%= domain %>
      outrigger.project: <%= projectName %>
  <% if (cache.external) { %>
  # Application Cache service
  cache:
    container_name: <%= machineName %>_${DOCKER_ENV:-local}_cache
    image: <%= cache.image %>
    network_mode: "bridge"
    environment:
      # This is used by the nginx-proxy service which is part of Phase2's Outrigger hosting platform.
      # Outrigger Cloud as a hosting platform is still for Phase2 internal use only.
      # Add a VIRTUAL_PORT to access the service externally over port 80.
      VIRTUAL_HOST: cache-${DOCKER_ENV}-<%= host.devcloud %>
    labels:
      com.dnsdock.name: cache
      com.dnsdock.image: <%= domain %>
      outrigger.project: <%= projectName %>
  <% } if (proxy.exists) { %>
  # Reverse-proxy Cache service
  proxy:
    container_name: <%= machineName %>_${DOCKER_ENV:-local}_proxy
    image: <%= proxy.image %>
    network_mode: "bridge"
    environment:
      VARNISH_BACKEND_HOST: www
      # This is used by the nginx-proxy service which is part of Phase2's Outrigger hosting platform.
      # Outrigger Cloud as a hosting platform is still for Phase2 internal use only.
      VIRTUAL_HOST: ${DOCKER_ENV}-<%= host.devcloud %>
    links:
      - www
    labels:
      com.dnsdock.name: www
      com.dnsdock.image: <%= domain %>
      outrigger.project: <%= projectName %>
  <% } if (mail.exists) { %>
  # MailHog SMTP and UI service.
  mail:
    container_name: <%= machineName %>_${DOCKER_ENV:-local}_mail
    image: <%= mail.image %>
    network_mode: "bridge"
    labels:
      com.dnsdock.name: mail
      com.dnsdock.image: <%= domain %>
      outrigger.project: <%= projectName %>
    environment:
      # This is used by the nginx-proxy service which is part of Phase2's Outrigger Cloud hosting.
      # Outrigger Cloud as a hosting platform is still for Phase2 internal use only.
      VIRTUAL_HOST: mail-${DOCKER_ENV}-<%= host.devcloud %>
      VIRTUAL_PORT: '8025'
  <% } %>
  # Main Application service.
  www:
    container_name: <%= machineName %>_${DOCKER_ENV:-local}_www
    image: <%= app.image %>
    network_mode: "bridge"
    environment:
      DOCROOT: /var/www/build/html
      PHP_MAX_EXECUTION_TIME: 60
      PHP_XDEBUG: "<%= debugMode %>"
      PHP_XHPROF: "<%= debugMode %>"
      # Include the DOCKER_ENV so Drupal settings can be aware of environment.
      DOCKER_ENV: ${DOCKER_ENV:-local}
      # This is used by the nginx-proxy service which is part of Phase2's Outrigger Cloud hosting.
      # Outrigger Cloud as a hosting platform is still for Phase2 internal use only.
      VIRTUAL_HOST: <% if (proxy.exists) { %>app-<% } %>${DOCKER_ENV}-<%= host.devcloud %>
    links:
      - db<% if (cache.external) { %><%= cache.docker.link %><% } %><% if (mail.exists) { %><%= mail.docker.link %><% } %>
    volumes:
      # Use 'rig project sync' to leverage unison-based filesystem for app code.
      # @see <doc-url>
      - project-sync:/var/www/
      # /var/www/src is used for consistency with the build container.
      - /data/<%= projectName %>/${DOCKER_ENV:-local}/files:/var/www/src/sites/default/files
    labels:
      com.dnsdock.name: <% if (proxy.exists) { %>app<% } else { %>www<% } %>
      com.dnsdock.image: <%= domain %>
      outrigger.project: <%= projectName %>

volumes:
  # This defines the filesystem synchronization volume used for application
  # code by the web container.
  # @see <doc-url>
  project-sync:
    external: true
