<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Perform nightly maintenance and checks against the develop branch. This includes clean database generation and module update checks.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GIT_REF</name>
          <description>Git branch, tag, or commit revision to build.</description>
          <defaultValue>develop</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@bitbucket.org:phase2tech/<%= projectName %>.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>**</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 8 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Tear down the environment in case the previous run failed.
docker-compose -f docker-compose.int.yml -p <%= projectName %>_int stop || true
docker-compose -f docker-compose.int.yml -p <%= projectName %>_int rm -f || true</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Set up and install site
bash bin/start.sh int

# Run cron for maximized database freshness.
docker-compose -f build.int.yml -p <%= projectName %>_int run drush cron

# Export database. This process preserves the latest 5 databases.
DATE=$(date +%Y-%m-%d_%H:%M:%S)
docker-compose -f build.int.yml -p <%= projectName %>_int run cli bash bin/db-export.sh nightlies/$DATE.sql

# Perform a scan for module updates.
docker-compose -f build.int.yml -p <%= projectName %>_int run cli bash bin/update-scanner.sh</command>
    </hudson.tasks.Shell>
<hudson.tasks.Shell>
  <command># Tear-down
docker-compose -f docker-compose.int.yml -p <%= projectName %>_int stop
docker-compose -f docker-compose.int.yml -p <%= projectName %>_int rm -f</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>#${BUILD_NUMBER} - ${GIT_BRANCH}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>
